<%= javascript_include_tag "jquery.cycle.all.js", :cache => 'cycle' %>

<script type="text/javascript">
//<![CDATA[
  $(function() {
    var defaults = {
      fx: 'scrollLeft',
      speed: 1000,
      timeout: 1000,
      randomizeEffects: false,
      pause: 1,
      pager: '.controls'
    };

    var options = {};
    if(!$(<%= @portlet.autorotate %>).length) {
      options["nowrap"] = 1;
    }

    var timeout = <%= @portlet.rotate_interval.to_i %> * 1000;
    options["timeout"] = timeout < 1000 ? 5000 : timeout;

    options = $.extend({}, defaults, options);

    $('#slides').cycle(options);
  });
//]]>
</script>

<ul class="controls"></ul>

<div id="slides">
  <% @slides.each_with_index do |slide, i| %>
    <div id="slide-<%= i %>" class="slide">
      <!-- <h3><%= h slide.name %></h3> -->
      <%#= slide.description %>
      <% unless slide.image_url.blank? %>
        <%= link_to_if(slide.has_link?, image_tag(slide.image_url, :alt => h(slide.alt_text)), slide.link_url) %>
      <% end %>
    </div>
  <% end %>
</div>